body{
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    background-repeat: none;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34495e;

}
.box{
    
    width: 500px;
    padding: 40px;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

    .box h1{
        color: white;
        text-transform:uppercase;
        font-weight:500px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25s;

}

.box input[type="text"]:focus,.box input[type="password"]{
 width: 300px;
 border-color: #2ecc71;
}
.box input[type="button" ]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(99, 99, 124);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}
.box input[type="button" ]:hover{
    background: rgb(37, 37, 158);

}