body{
    
    
    background: linear-gradient(90deg, rgb(100, 72, 224) 50%, rgb(52, 24, 177) 50%);
    color:rgb(20, 19, 19);
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6em;
    margin:0;
    
}


.container{
    width:80%;
    margin: auto;
    overflow:hidden;
    color:silver;
    
}
#main-header{
    background-color: rgb(13, 3, 70);
    color:#fff;
    text-align: center; 
    position: relative;
}
#navbar li{
    display:inline;
    
}
#navbar a{
    
    color:#fff;
    text-decoration: none;
    font-size: 23px;
    padding: right;
    margin-right: 3em;
    
   
}
#showcase{
    background-position: right;
    background: rgb(22, 96, 207);
    text-align: center;
    border: inset;
    width: 500px;
    margin: 2% auto;
    border-radius: 20px;
    max-width:50%;
}
#main{
    float:left;
    width:70%;
    background: #333;
    color:#fff;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 20%;
    padding: 0 30px;
    box-sizing: border-box;
    border:outset;
    border-radius: 20px; 
    opacity: 0.9;
    position: relative;
}
* {
    box-sizing: border-box;
    
  }
  
 .row{
     display: flex;
 }
 .column1 {
    margin-top: 45px;
    margin-left: 550px;
  float: right;
  width: 300px;
  padding: 30px;
  height: 200px; 
  box-sizing: border-box;
  border-radius: 50px;
  border:double:
}
  .column {
      margin-top: 40px;
      margin-left: 220px;
    float: right;
    width: 300px;
    padding: 30px;
    height: 200px; 
    margin-right: 1%;
    border-radius: 50px;
    border:double:
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  input[type="button" ]{
    border: 0;
    background: silver;
    display: block;
    margin-left: 5%;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color:black;
    border-radius: 50px;
    
    cursor: pointer;

}
input:hover{
    background: rgb(133, 123, 123);
}
#main-footer{
    font-size: 15px;
    background: rgb(13, 3, 70);
    color: #fff;
    text-align: center;
    padding: 25px 35px;
    margin-top: 200px;
}
@media only screen and (max-width:600px)
           {
          body {
                
                background: black;
                }
                .row{
                 margin-left: -120%;
                }
           }
